<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bakel.epp.bakel" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Game"
            android:label="@string/title_activity_game_menu"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".GameOverActivity"
            android:label="@string/title_activity_game_over"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".TopScoresActivity"
            android:noHistory="true"
            android:label="@string/title_activity_top_scores" >
        </activity>
    </application>

</manifest>
